<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="Server=mysql-serveur.mysql.database.azure.com; Port=3306; Database=db_garage; Uid=AdminGarage@mysql-serveur; Pwd=TOTO1234!; SslMode=Preferred;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wcfgarage.cloudapp.net/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="WCFUtils.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>