@model DataVehicule
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    @{

        foreach (var item in Model.Vehicules)
        {
   
   
   <table class="table">
        <thead>
            <tr>
                <th scope="col">Modèle</th>
                <th scope="col">Marque</th>
                <th scope="col">Option</th>
                <th scope="col">Validation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@item.model</td>
                <td>@item.marque</td>
                <td>@item.option</td>
                <td><button type="button" class="btn btn-primary">Valider</button></td>
            </tr>
        </tbody>
    </table>

        }

    }
</table>